.chart {
    -webkit-box-shadow: 2px 4px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 4px 8px 2px rgba(34, 60, 80, 0.2);
    flex: 4;
    padding: 10px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;
    height: inherit;


    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(214, 214, 214);
    }
}